<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="container">

{% include 'menu.html' %}

<div class="content">

<h1>Bem-vindo!</h1>

<div class="cards">

<a class="card produto" href="/produtos">
<i class="fa fa-box"></i>
Produtos
</a>

<a class="card mov" href="/movimentacao">
<i class="fa fa-rotate"></i>
Movimentação
</a>

<a class="card cliente" href="/clientes">
<i class="fa fa-users"></i>
Clientes
</a>

<a class="card fornecedor" href="/fornecedores">
<i class="fa fa-truck"></i>
Fornecedores
</a>

<a class="card caixa" href="/caixa">
<i class="fa fa-sack-dollar"></i>
Caixa
</a>

<a class="card relatorio" href="/relatorios">
<i class="fa fa-chart-column"></i>
Relatórios
</a>

</div>

</div>

</div>

</body>
</html>