<!DOCTYPE html>
<html>
<head>

<title>Smart Estoque</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="container">

<div class="sidebar">

<h2>SMART ESTOQUE</h2>

<a href="/">
<i class="fa fa-home"></i> Início
</a>

<a href="/produtos">
<i class="fa fa-box"></i> Produtos
</a>

<a href="/clientes">
<i class="fa fa-users"></i> Clientes
</a>

<a href="/fornecedores">
<i class="fa fa-truck"></i> Fornecedores
</a>

<a href="/movimentacao">
<i class="fa fa-arrows-rotate"></i> Movimentação
</a>

<a href="/caixa">
<i class="fa fa-cash-register"></i> Caixa
</a>

<a href="/relatorios">
<i class="fa fa-chart-bar"></i> Relatórios
</a>

</div>

<div class="main">

<h1>SMART ESTOQUE</h1>

<div class="cards">

<a href="/clientes" class="card">
<i class="fa fa-users"></i>
<p>Clientes</p>
</a>

<a href="/produtos" class="card">
<i class="fa fa-box"></i>
<p>Produtos</p>
</a>

<a href="/fornecedores" class="card">
<i class="fa fa-truck"></i>
<p>Fornecedores</p>
</a>

<a href="/movimentacao" class="card">
<i class="fa fa-arrows-rotate"></i>
<p>Movimentação</p>
</a>

<a href="/caixa" class="card">
<i class="fa fa-cash-register"></i>
<p>Caixa</p>
</a>

<a href="/relatorios" class="card">
<i class="fa fa-chart-bar"></i>
<p>Relatórios</p>
</a>

</div>

</div>

</div>

</body>
</html>