<!DOCTYPE html>
<html>
<head>

<title>Smart Estoque</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<div class="container">

<div class="sidebar">

<h2>SMART ESTOQUE</h2>

<a href="/">
<i class="fa fa-home"></i> Início
</a>

<a href="/produtos">
<i class="fa fa-box"></i> Produtos
</a>

<a href="/clientes">
<i class="fa fa-users"></i> Clientes
</a>

</div>

<div class="main">

<h1>SMART ESTOQUE</h1>

<div class="cards">

<a href="/clientes" class="card">
<i class="fa fa-users"></i>
<p>Clientes</p>
</a>

<a href="/produtos" class="card">
<i class="fa fa-box"></i>
<p>Produtos</p>
</a>

</div>

</div>

</div>

</body>
</html>